## Práctica 1: Estructura de datos

**Estudiante:** Yojan Andrés Alcaraz Pérez

Febrero 16 de 2023

In [1]:
# Importar librerías necesarias.
import random
import numpy as np

### 1.

Se tiene un arreglo de 20 edades comprendidas entre los 13 y 43 años no repetidas de un
estudio realizado en una escuela de primaria, se debe de ordenar el arreglo y buscar la
edad de 16 años.

In [2]:
# Generar 20 edades:
semillas = list(range(2,10))
for i in semillas:
    # Establecer una semilla
    random.seed(i)
    # Generar de manera aleatoria las 20 edades:
    edades = random.sample(range(13,44),20)
    # Como se necesita buscar la edad 16 se asegura que 16 está en la lista generada
    if 16 in edades:
        print("La longitud de edades es", len(edades), "y la lista es:", edades)
        break;

La longitud de edades es 20 y la lista es: [20, 22, 16, 36, 25, 28, 17, 15, 40, 13, 39, 30, 42, 14, 43, 24, 37, 33, 35, 32]

In [3]:
# Función algoritmo ordenamiento por selección:
def ord_selec(arreglo):
    for i in range(len(arreglo)-1):
        for j in range(i+1, len(arreglo)):
            if arreglo[i] > arreglo[j]:
                arreglo[i], arreglo[j] = arreglo[j], arreglo[i]
    return arreglo

In [4]:
# Ordenar la lista con función de usuario ord_selec():
orden_edad = ord_selec(edades)
print("La lista ordenada es:", orden_edad)

# Extraer la posición de la edad 16:
posicion = orden_edad.index(16)
print("La edad 16 está en la posición", posicion)
print("La edad en la posición" , posicion, "es",orden_edad[posicion])

La lista ordenada es: [13, 14, 15, 16, 17, 20, 22, 24, 25, 28, 30, 32, 33, 35, 36, 37, 39, 40, 42, 43]
La edad 16 está en la posición 3
La edad en la posición 3 es 16

### 2.

En una empresa de 10 empleados se desea buscar el nombre del empleado que tuvo más ventas en el mes de diciembre. La lista ya está ordenada.

In [9]:
empleados = ["Ana","Andrés", "Camilo", "Carla","Carlos", "Ramiro", "Susana"]
# Si se supone que el empleado con mejor ventas es Carla:
mej_empl = "Carla"
mejor_emp = empleados.index(mej_empl)
print("El empleado con mayor ventas en el mes de diciembre está en la posición", mejor_emp, "y es", empleados[mejor_emp])

El empleado con mayor ventas en el mes de diciembre está en la posición 3 y es Carla

### 3.

En una entidad se desea buscar por cedula de ciudadanía en la lista de reportes morosos,
para determinar si el cliente es apto para realizar un prestamos, lo que indica que el cliente
no puede estar en esa lista de 200 usuarios moroso (hacer la prueba con 20 usuarios), la
lista no está ordenada

In [6]:
# Generar 200 usuarios:
random.seed(5)
id_usuario = random.sample(range(12345,12660),200)
print(len(id_usuario))

# ¿Está repitiendo usuarios?
repeated = set(id_usuario)
print(len(repeated))

# Ordenar la lista
id_usuarios =  ord_selec(id_usuario)

200
200

In [7]:
# Usuario en cuestión:
cedula = random.sample(range(12345,12660),1)
cedula = cedula[0]
print("El posible nuevo usuario tiene id",cedula)

# ¿El usuario es moroso?
if cedula in id_usuarios:
    print("El usuario con id", cedula, " es MOROSO")
else:
    print("El usuario con id", cedula, " es APTO para préstamo")

El posible nuevo usuario tiene id 12527
El usuario con id 12527  es MOROSO

### 4.

Un profesor guarda los datos de sus estudiantes en tres vectores: código, nombre y nota,
como se muestra en la siguiente imagen. Se requiere un algoritmo para consultar la nota
de un estudiante a partir de su código.

In [90]:
codigos = [123,456,789,156]
nombres = ["Ana", "Pedro", "Maria", "Julian"]
notas = [4,5,4.2,3.5]

codigo = 456

In [91]:
for i,j in enumerate(codigos):
    if j == codigo:
        print("La nota del estudiante", nombres[i], "con código", codigos[i], "es", notas[i])

La nota del estudiante Pedro con código 456 es 5

### 5

Se tiene la siguiente lista, se debe ordenar
A = [5, 8, 4, 14, 2, 1, 10, 3, 5]

In [ ]:
# Lista:
A = [5, 8, 4, 14, 2, 1, 10, 3, 5]
# Ordenamiento por selección:
A_ord = ord_selec(A)
print("La lista ordenada es:", A_ord)

La lista ordenada es: [1, 2, 3, 4, 5, 5, 8, 10, 14]

### 6.

Se tiene una lista de edades de 20 estudiantes, ordenarla de forma descendente y hallar el
número que se aproxime al promedio de las edades.

In [ ]:
# Función ordenamiento por selección descendente:
def ord_selec_desc(arreglo):
    for i in range(len(arreglo)-1):
        for j in range(i+1, len(arreglo)):
            if arreglo[i] < arreglo[j]:
                arreglo[i], arreglo[j] = arreglo[j], arreglo[i]
    return arreglo

In [ ]:
# Generar edades para prueba:
edades_est = random.sample(range(16,40),20)
print("La lista de edades es:",edades_est)
# Ordenar de forma descendente con función de usuario ord_selec_desc()
edades_ord = ord_selec_desc(edades_est)
print("La lista de edades ordenadas de manera descendente es:",edades_ord)
# Promedio de las edades:
prom_edades = sum(edades_ord)/len(edades_ord)
print("El promedio de las 20 edades es:", prom_edades)

La lista de edades es: [25, 19, 39, 33, 32, 26, 37, 27, 20, 22, 30, 36, 34, 24, 21, 23, 18, 17, 31, 38]
La lista de edades ordenadas de manera descendente es: [39, 38, 37, 36, 34, 33, 32, 31, 30, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17]
El promedio de las 20 edades es: 27.6

### 7.

Se tiene una lista de cosas del hogar, B = [“nevera”, “olla”, “lavadora”, “gancho”,” cama”, “televisor”]. Se desea ordenar de forma ascendente

In [ ]:
B = ["nevera", "olla", "lavadora", "gancho", "cama", "televisor"]
B_ord = ord_selec(B)
print("La lista de cosas de hogar ordenada de forma ascendente es:",B_ord)

La lista de cosas de hogar ordenada de forma ascendente es: ['cama', 'gancho', 'lavadora', 'nevera', 'olla', 'televisor']

### 8.

En una biblioteca se guarda la información de los libros (código, autor, editorial, año de
registro), se desea buscar por el código del libro.

In [99]:
codigo_bib = [120,130,140,150,122]
autor = ["Pablo Neruda", "Mario Vargas Llosa", "Juan Carlos Onetti", "José Martí" , "Jorge Luis Borges"]
editorial = ["Edit 1", "Edit 2", "Edit 3","Edit 4","Edit 5"]
año_reg = [2010,2011,2021,2018,2022]
codigo_bus = 140
for i,j in enumerate(codigo_bib):
    if j == codigo_bus:
        print(f'Libro con código {codigo_bib[i]}, autor {autor[i]}, editorial {editorial[i]} y año de registro {año_reg[i]}')

Libro con código 140, autor Juan Carlos Onetti, editorial Edit 3 y año de registro 2021

### 9.

Se tiene los datos de la temperatura en grados centígrados que tuvieron en el transcurso
del año, las ciudades principales de Colombia están almacenadas de la siguiente manera.

In [102]:
meses = ["enero", "febrero", "marzo", "abril", "mayo", "junio", "julio","agosto", "septiembre", "octubre", "noviembre", "diciembre"]
Bogota = [19, 19,19,18,18,18,17,17,18,18,18,19]
Medellin = [25,25,25,25,26,26,26,26,25,25,25,25]
Cali = [29,29,29,28,28,28,29,29,29,28,28,28]
Barranquilla = [30,30,31,31,32,32,32,32,32,31,31,30]

#### a.

Se desea conocer en el mes de mayo cual fue la ciudad que tuvo una temperatura
entre los 25 y 27 grados centígrados.

In [103]:
# Con listas:
ciudades = [Bogota, Medellin, Cali, Barranquilla]
str_ciudades = ["Bogota", "Medellin", "Cali", "Barranquilla"]
mes_mayo = meses.index("mayo")
temp = []
for i, ciu in enumerate(ciudades):
  temp.append(ciu[mes_mayo])
  if temp[i] >= 25 and temp[i] <= 27:
    print("La temperatura entre 25 y 27 °C es", temp[i], "°C y se registró en la ciudad", str_ciudades[i])

La temperatura entre 25 y 27 °C es 26 °C y se registró en la ciudad Medellin

## b.

Se desea conocer la ciudad y el mes en el cual la temperatura fue superior a 31 grados
centígrados.

In [134]:
meses = ["meses", "enero", "febrero", "marzo", "abril", "mayo", "junio", "julio","agosto", "septiembre", "octubre", "noviembre", "diciembre"]
Bogota = ["Bogota",19, 19,19,18,18,18,17,17,18,18,18,19]
Medellin = ["Medellin",25,25,25,25,26,26,26,26,25,25,25,25]
Cali = ["Cali",29,29,29,28,28,28,29,29,29,28,28,28]
Barranquilla = ["Barranquilla",30,30,31,31,32,32,32,32,32,31,31,30]
temperaturas = np.array([meses,Bogota,Medellin, Cali, Barranquilla])
print(temperaturas)

[['meses' 'enero' 'febrero' 'marzo' 'abril' 'mayo' 'junio' 'julio'
  'agosto' 'septiembre' 'octubre' 'noviembre' 'diciembre']
 ['Bogota' '19' '19' '19' '18' '18' '18' '17' '17' '18' '18' '18' '19']
 ['Medellin' '25' '25' '25' '25' '26' '26' '26' '26' '25' '25' '25' '25']
 ['Cali' '29' '29' '29' '28' '28' '28' '29' '29' '29' '28' '28' '28']
 ['Barranquilla' '30' '30' '31' '31' '32' '32' '32' '32' '32' '31' '31'
  '30']]

In [135]:

for i in range(1,len(temperaturas)):
  for j in range(1,len(temperaturas[0,:])):
    if temperaturas[i][j] == "32":
      print(f'Temperaturas mayores a 31 °C se presentaron en el mes de {temperaturas[0][j]} y en {temperaturas[i][0]}')

Temperaturas mayores a 31 °C se presentaron en el mes de mayo y en Barranquilla
Temperaturas mayores a 31 °C se presentaron en el mes de junio y en Barranquilla
Temperaturas mayores a 31 °C se presentaron en el mes de julio y en Barranquilla
Temperaturas mayores a 31 °C se presentaron en el mes de agosto y en Barranquilla
Temperaturas mayores a 31 °C se presentaron en el mes de septiembre y en Barranquilla